<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>draw SVG</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" height="40rem" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
    <rect fill="#F2FF28" width="100" height="100"/>
    <a href='/svgDrawing/new'><circle fill="#08A94B" cx="6" cy="6" r="5"/></a>
    <%for(let i=0; i < allShapes.length; i++){ %>
       <a href='/svgDrawing/<%=allShapes[i]._id%>/edit'><rect x=<%=allShapes[i].xPosition%> y=<%=allShapes[i].yPosition%> fill=<%=allShapes[i].shapeFill%> width=<%=allShapes[i].shapeWidth%> height=<%=allShapes[i].shapeHeight%>></a>
    <%}%>
     
</svg>

    </body>
</html>